.photo-container-Homepage {
  background-image: url("../../../images/register_background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  position: center;
}

.container-Homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.fontHome {
  margin-top: 100px;
  font-size: 57px;
  color: black;
  /*text-shadow: -1px -1px 0 yellow, 4px -4px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;*/
}

.buttonHomePage {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.buttHome {
  margin-bottom: 15px;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #fedf00;
  border-width: 2px;
  background-color: #003399;
}

.logo-image-Homepage {
  position: absolute;
  top: 25px;
  left: 35px;
  width: 70px; /* prilagodite širinu prema potrebi */
  height: 75px; /* prilagodite visinu prema potrebi */
}

.text-container-Homepage {
  position: absolute;
  top: 15px;
  right: 30px;
  padding: 10px;
}

.right-upper-text-Home {
  color: #003399;
}
