.title {
    font-family: "Times New Roman", Times, serif;
  }
  
  .buttonLink {
    color: white;
    font-size: 15px;
    cursor: pointer;
    text-decoration-line: underline;
  }
  
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;    
  }
  
  .fontLogin {
    font-size: 35px;
  }
  
  .input-containerLogin img {
    width: 100px;
    height: 100px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .login-button {
    background-color: white;
    padding: 10px 98px;
    border-radius: 5px;
    margin: 20px auto; /* Add this line */
    display: block; /* Add this line */
    cursor: pointer;
    border: none;
    font-size: 17px;
    color: #0058b8;
    font-weight: bold;
  }
  
  .link {
    gap: 10px;
    color: white;
  }
  
  .links {
    display: flex;
    gap: 30px;
  }
  
  .links-container {
    margin-top: 10px;
  }
  
  .input-containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0.2px;
  }
  
  .frameLogIn {
    /*padding: 0.6rem;*/
    height: auto;
    width: 400px;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 1, 5, 0.41);
    padding: 20px;
  }
  
  .input-field-emailLogin {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1px;
  }
  
  .email {
    color: navy;
  }
  
  .input-fieldLogin {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .form-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .input-error {
    border: 2px solid red;
  }
